html, body {
 /* background-image: url("paper.gif"); */
 background-color: #99F7F5 !important;
 margin: 0;
 height: 100%;
}

.container{
	background-color:#99F7F5;
	height: 100%
}

.navbar{
	background-color:#3EC2C0;
}

.class-name{
	background-color:#99F7F5;
}

#search table td{
	color:black !important;
}